<div class="page-header">
  <h1>Computers <small><%= @asset.name %></small></h1>
</div>

<div class="panel panel-default show-summary">
  <div class="panel-heading">
    <h2 class="panel-title">Summary</h2>
  </div>
  <div class="panel-body">
    <dl>
      <dt>Serial</dt>
      <dd><%= @asset.name %></dd>

      <dt>Product name</dt>
      <dd><%= @asset.product_name %></dd>
      
      <dt>Location</dt>
      <dd><%= fill_if_empty @asset.location %></dd>
      
      <dt>BIOS</dt>
      <dd><%= @asset.bios_version %> from <%= @asset.bios_vendor %></dd>
      
      <dt>DIMM slots</dt>
      <dd><%= fill_if_empty @asset.dimm_slots %></dd>
      
      <dt>PCI slots</dt>
      <dd><%= fill_if_empty @asset.pci_slots %></dd>
      
      <dt>PCIe slots</dt>
      <dd><%= fill_if_empty @asset.pcie_slots %></dd>
    </dl>
  </div>
</div>

<nav class="contextual">
  <ul class="nav nav-pills">
    <li><%= link_to 'Back', asset_computers_path %></li>
    <li><%= link_to 'Edit', edit_asset_computer_path(@asset) %></li>
    <li><%= link_to 'Destroy', @asset, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
</nav>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Components</h4>
      </div>
      <div class="panel-body">
        <%= render 'components' %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Statuses</h4>
      </div>
      <div class="panel-body">
        <%= render 'statuses' %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Revisions</h4>
      </div>
      <div class="panel-body">
        <%= render 'revisions' %>
      </div>
    </div>
  </div>
</div>
