<div class="page-header">
  <h1>Computers <small><%= @asset.name %></small></h1>
</div>

<h2>Summary</h2>

<table class="table table-condensed">
  <tr> 
    <th scope="row">Serial</th>
    <td><%= @asset.name %></td>
  </tr>
  <tr>
    <th scope="row">Product name</th>
    <td><%= @asset.product_name %></td>
  </tr>
  <tr>
    <th scope="row">Location</th>
    <td><%= @asset.location %></td>
  </tr>
  <tr>
    <th scope="row">BIOS</th>
    <td><%= @asset.bios_version %> from <%= @asset.bios_vendor %></td>
  </tr>
  <tr>
    <th scope="row">DIMM slots</th>
    <td><%= @asset.dimm_slots %></td>
  </tr>
  <tr>
    <th scope="row">PCI slots</th>
    <td><%= @asset.pci_slots %></td>
  </tr>
  <tr>
    <th scope="row">PCIe slots</th>
    <td><%= @asset.pcie_slots %></td>
  </tr>
</table>

<nav class="contextual">
  <ul class="nav nav-pills">
    <li><%= link_to 'Back', asset_computers_path %></li>
    <li><%= link_to 'Edit', edit_asset_computer_path(@asset) %></li>
    <li><%= link_to 'Destroy', @asset, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
</nav>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Components</h4>
      </div>
      <div class="panel-body">
        <%= render 'components' %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Statuses</h4>
      </div>
      <div class="panel-body">
        <%= render 'statuses' %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Revisions</h4>
      </div>
      <div class="panel-body">
        <%= render 'revisions' %>
      </div>
    </div>
  </div>
</div>
