<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @component.type %>
</p>

<p>
  <strong>Attributes:</strong>
  <%= @component.attributes %>
</p>

<nav class="contextual">
  <ul class="nav nav-pills">
    <li><%= link_to 'Back', components_path %></li>
    <li><%= link_to 'Edit', edit_components_path(@component) %></li>
  </ul>
</nav>
