<div class="page-header">
  <h1>NICs <small><%= @component.name %></small></h1>
</div>

<div class="panel panel-default show-summary">
  <div class="panel-heading">
    <h2 class="panel-title">Summary</h2>
  </div>
  <div class="panel-body">
    <dl>
      <dt>Name</dt>
      <dd><%= @component.name %></dd>

      <dt>Vendor</dt>
      <dd><%= @component.vendor %></dd>
      
      <dt>Speed</dt>
      <dd><%= fill_if_empty @component.speed_mbits %> Mbit/s</dd>
      
      <dt>Ports</dt>
      <dd><%= fill_if_empty @component.ports %></dd>

      <dt>MAC addresses</dt>
      <dd><%= display_mac_addresses @component.mac_addresses %></dd>
      
      <dt>Extensions</dt>
      <dd><%= display_capabilities @component.capabilities %></dd>
    </dl>
  </div>
</div>

<nav class="contextual">
  <ul class="nav nav-pills">
    <li><%= link_to 'Back', component_nics_path %></li>
    <li><%= link_to 'Delete', @component, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
</nav>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Attached assets</h4>
      </div>
      <div class="panel-body">
        <%= render 'component/attached_assets' %>
      </div>
    </div>
  </div>
</div>
