<div class="page-header">
  <h1>CPUs <small><%= @component.name %></small></h1>
</div>

<div class="panel panel-default show-summary">
  <div class="panel-heading">
    <h2 class="panel-title">Summary</h2>
  </div>
  <div class="panel-body">
    <dl>
      <dt>Name</dt>
      <dd><%= @component.name %></dd>

      <dt>Vendor</dt>
      <dd><%= @component.vendor %></dd>
      
      <dt>Speed</dt>
      <dd><%= @component.speed_mhz %> MHz</dd>

      <dt>Cores</dt>
      <dd><%= @component.cores %></dd>
      
      <dt>Threads</dt>
      <dd><%= @component.cores * @component.threads_per_core %></dd>
      
      <dt>Extensions</dt>
      <dd><%= display_cpu_extensions @component.extensions %></dd>
    </dl>
  </div>
</div>

<nav class="contextual">
  <ul class="nav nav-pills">
    <li><%= link_to 'Back', component_cpus_path %></li>
    <li><%= link_to 'Delete', @component, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
</nav>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Attached assets</h4>
      </div>
      <div class="panel-body">
        <%= render 'component/attached_assets' %>
      </div>
    </div>
  </div>
</div>
