<div class="page-header">
  <h1>Statuses <small>Overview</small></h1>
</div>

<div class="panel panel-default show-summary">
  <div class="panel-heading">
    <h2 class="panel-title">Summary</h2>
  </div>
  <div class="panel-body">
    <dl>
      <dt>Name</dt>
      <dd><%= @status.name %></dd>
      
      <dt>Status</dt>
      <dd><%= visualize_status @status.state %></dd>
      
      <dt>Message</dt>
      <dd><%= fill_if_empty @status.message %></dd>
      
      <dt>Asset</dt>
      <dd><%= link_to @status.asset.name, @status.asset %></dd>
      
      <dt>Date</dt>
      <dd><%= l @status.created_at %></dd>
    </dl>
  </div>
</div>

<nav class="contextual">
  <ul class="nav nav-pills">
    <li><%= link_to 'Back', statuses_path %></li>
  </ul>
</nav>
