<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @status.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @status.state %>
</p>

<nav class="contextual">
  <ul class="nav nav-pills">
    <li><%= link_to 'Back', statuses_path %></li>
    <li><%= link_to 'Edit', edit_status_path(@status) %></li>
    <li><%= link_to 'Destroy', @asset, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
</nav>
