<div class="page-header">
  <h1>Statuses <small>Overview</small></h1>
</div>

<h2>Summary</h2>

<table class="table table-condensed">
  <tr>
    <th scope="row">Status</th>
    <td><%= visualize_status @status.state %></td>
  </tr>
  <tr>
    <th scope="row">Name</th>
    <td><%= @status.name %></td>
  </tr>
  <tr>
    <th scope="row">Asset</th>
    <td><%= link_to @status.asset.name, @status.asset %></td>
  </tr>
  <tr>
    <th scope="row">Date</th>
    <td><%= l @status.created_at %></td>
  </tr>
</table>

<nav class="contextual">
  <ul class="nav nav-pills">
    <li><%= link_to 'Back', statuses_path %></li>
  </ul>
</nav>
