<%= form_for(@hard_drive) do |f| %>
  <% if @hard_drive.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hard_drive.errors.count, "error") %> prohibited this hard_drive from being saved:</h2>

      <ul>
      <% @hard_drive.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :serial %><br>
    <%= f.text_field :serial %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :device_model %><br>
    <%= f.text_field :device_model %>
  </div>
  <div class="field">
    <%= f.label :firmware %><br>
    <%= f.text_field :firmware %>
  </div>
  <div class="field">
    <%= f.label :capacity_bytes %><br>
    <%= f.text_field :capacity_bytes %>
  </div>
  <div class="field">
    <%= f.label :rpm %><br>
    <%= f.number_field :rpm %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
