<p id="notice"><%= notice %></p>

<p>
  <strong>Serial:</strong>
  <%= @hard_drive.serial %>
</p>

<p>
  <strong>Model:</strong>
  <%= @hard_drive.model %>
</p>

<p>
  <strong>Device model:</strong>
  <%= @hard_drive.device_model %>
</p>

<p>
  <strong>Firmware:</strong>
  <%= @hard_drive.firmware %>
</p>

<p>
  <strong>Capacity bytes:</strong>
  <%= @hard_drive.capacity_bytes %>
</p>

<p>
  <strong>Rpm:</strong>
  <%= @hard_drive.rpm %>
</p>

<%= link_to 'Edit', edit_hard_drive_path(@hard_drive) %> |
<%= link_to 'Back', hard_drives_path %>
