<%= form_for(@user, html: { class: ['form-horizontal'] }) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, class: ['col-sm-2', 'control-label'] %>
    <div class="col-sm-4">
      <%= f.text_field :name, class: ['form-control'] %>
    </div>
  </div>
  <div class="field">
    <%= f.label :username, class: ['col-sm-2', 'control-label'] %>
    <div class="col-sm-4">
      <%= f.text_field :username, class: ['form-control'] %>
    </div>
  </div>
  <div class="field">
    <%= f.label :email, class: ['col-sm-2', 'control-label'] %>
    <div class="col-sm-4">
      <%= f.email_field :email, class: ['form-control'] %>
    </div>
  </div>
  <div class="field">
    <%= f.label :role, class: ['col-sm-2', 'control-label'] %>
    <div class="col-sm-4">
      <% if current_user.admin? %>
        <%= f.select :role, options_for_select(User::ROLES, @user.role), {}, { class: ['form-control'] } %>
      <% else %>
          <p class="form-control-static"><%= @user.role %></p>
      <% end %>
    </div>
  </div>
  <% unless @user.new_record? %>
    <div class="field">
      <div class="col-sm-offset-2 col-sm-4">
        <div class="checkbox">
          <%= f.label :new_token do %>
            <%= f.check_box :new_token %>
            Generate a new authentication token
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :password, class: ['col-sm-2', 'control-label'] %>
    <div class="col-sm-4">
      <%= f.password_field :password, class: ['form-control'] %>
    </div>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, class: ['col-sm-2', 'control-label'] %>
    <div class="col-sm-4">
      <%= f.password_field :password_confirmation, class: ['form-control'] %>
    </div>
  </div>
  <div class="actions">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: ['btn', 'btn-primary'] %>
      <%= link_to 'Cancel', users_path, class: ['btn', 'btn-default'], role: 'button' %>
    </div>
  </div>
<% end %>
