<div class="page-header">
  <h1>Users <small><%= @user.name %></small></h1>
</div>

<div class="panel panel-default show-summary">
  <div class="panel-heading">
    <h2 class="panel-title">Summary</h2>
  </div>
  <div class="panel-body">
    <dl>
      <dt>Name</dt>
      <dd><%= @user.name %></dd>

      <dt>Username</dt>
      <dd><%= @user.username %></dd>

      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Role</dt>
      <dd><%= @user.role %></dd>

      <% if @user.last_sign_in_at && @user.last_sign_in_ip %>
        <dt>Last sign-in</dt>
        <dd><%= l @user.last_sign_in_at %> from <%= @user.last_sign_in_ip %></dd>
      <% end %>

      <dt>API token</dt>
      <dd><code><%= @user.auth_token %></code></dd>
    </dl>
  </div>
</div>

<nav class="contextual">
  <ul class="nav nav-pills">
    <li><%= link_to 'Edit', edit_user_path(@user) %></li>
    <% if current_user.admin? %>
      <li><%= link_to 'Back', users_path %></li>
    <% end %>
  </ul>
</nav>
