<div class="page-header">
  <h1>Users <small>Details for an user</small></h1>
</div>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Roles:</strong>
  <%= @user.roles.to_s %>
</p>

<nav>
  <ul class="nav nav-pills">
    <li><%= link_to 'Edit', edit_user_path(@user) %></li>
    <li><%= link_to 'Back', users_path %></li>
  </ul>
</nav>
