<div class="page-header">
  <h1>Users <small><%= @user.name %></small></h1>
</div>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<% if @user.last_sign_in_at && @user.last_sign_in_ip %>
  <p>
    <strong>Last sign-in:</strong>
    <%= l @user.last_sign_in_at %> from <%= @user.last_sign_in_ip %>
  </p>
<% end %>

<p>
  <strong>API token:</strong>
  <code><%= @user.auth_token %></code>
</p>

<nav>
  <ul class="nav nav-pills">
    <li><%= link_to 'Edit', edit_user_path(@user) %></li>
    <% if current_user.admin? %>
      <li><%= link_to 'Back', users_path %></li>
    <% end %>
  </ul>
</nav>
