<div class="page-header">
  <h1>NICs <small><%= @component.name %></small></h1>
</div>

<div class="panel panel-default show-summary">
  <div class="panel-heading">
    <h2 class="panel-title">Summary</h2>
  </div>
  <div class="panel-body">
    <dl>
      <dt>Serial</dt>
      <dd><%= @component.name %></dd>

      <dt>Vendor</dt>
      <dd><%= @component.vendor %></dd>

      <dt>Type</dt>
      <dd><%= @component.ram_type %></dd>
      
      <dt>Size</dt>
      <dd><%= number_to_human_size @component.size_bytes %></dd>
      
      <dt>Speed</dt>
      <dd><%= number_to_human_freq @component.speed_mhz%></dd>

      <dt>ECC</dt>
      <dd><%= @component.ecc ? 'Yes' : 'No' %></dd>

      <dt>Rank</dt>
      <dd><%= fill_if_empty @component.rank %></dd>

      <dt>Form factor</dt>
      <dd><%= @component.form_factor %></dd>

      <dt>Part number</dt>
      <dd><%= fill_if_empty @component.part_number %></dd>
    </dl>
  </div>
</div>

<nav class="contextual">
  <ul class="nav nav-pills">
    <li><%= link_to 'Back', component_nics_path %></li>
    <li><%= link_to 'Delete', @component, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
</nav>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Attached assets</h4>
      </div>
      <div class="panel-body">
        <%= render 'component/attached_assets' %>
      </div>
    </div>
  </div>
</div>
