<div class="page-header">
  <h1>Reports <small>Overview</small></h1>
</div>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Status</th>
      <th>Worker</th>
      <th>Starttime</th>
      <th>Endtime</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= color_status report.status %></td>
        <td><%= color_worker_status report.worker_status %></td>
        <td><%= l report.starttime %></td>
        <% if report.endtime %>
          <td><%= l report.endtime %></td>
        <% else %>
          <td>&nbsp;</td>
        <% end %>
        <td><%= link_to 'Details', report %></td>
      </tr>
    <% end %>
  </tbody>
</table>
