<div class="page-header">
<h1>Reports <small>Details for a report</small></h1>
</div>

<h2>Summary</h2>

<table class="table">
  <tr>
    <th scope="row">Status</th>
    <td><%= color_status @report.status %></td>
  </tr>
  <tr>
    <th scope="row">Started</th>
    <td><%= l @report.starttime%></td>
  </tr>
  <tr>
    <th scope="row">Finished</th>
    <td><%= l @report.endtime %></td>
  </tr>
</table>

<p><%= link_to 'Back', reports_path %><p>

<h2>Attached data</h2>

<%= render 'data' %>
