<div class="page-header">
<h1>Reports <small>Details for a report</small></h1>
</div>

<div class="panel panel-default show-summary">
  <div class="panel-heading">
    <h2 class="panel-title">Summary</h2>
  </div>
  <div class="panel-body">
    <dl>
      <dt>Status</dt>
      <dd><%= color_status @report.status %></dd>

      <dt>Parser</dt>
      <dd><%= color_parser_status @report.parser_status %></dd>
      
      <dt>Started</dt>
      <dd><%= l @report.starttime%></dd>
      
      <dt>Finished</dt>
      <% if @report.endtime %>
        <dd><%= l @report.endtime %></dd>
      <% else %>
        <dd>&nbsp;</dd>
      <% end %>
      
      <dt>Submitted by</dd>
      <% if current_user.admin? %>
        <dd><%= link_to @report.user.name, @report.user %></dd>
      <% else %>
        <dd><%= @report.user.name %></dd>
      <% end %>
    </dl>
  </div>
</div>

<nav class="contextual">
  <ul class="nav nav-pills">
    <li><%= link_to 'Back', reports_path %></li>
  </ul>
</nav>

<h2>Attached data</h2>

<%= render 'data' %>
