<p>
  <strong>Status:</strong>
  <%= @report.status %>
</p>

<p>
  <strong>Starttime:</strong>
  <%= @report.starttime %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @report.endtime %>
</p>

<p>
  <strong>Data:</strong>
  <%= @report.data %>
</p>

<%= link_to 'Back', reports_path %>
