<div class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-nein-navbar-collapse">
        <span class="sr-only">Toogle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">NeinDB</a>
    </div>

    <% if current_user %>
      <nav class="collapse navbar-collapse bs-nein-navbar-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Dashboard', root_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Assets<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'Computers', asset_computers_path %></li>
              <li class="divider"></li>
              <li><%= link_to 'All assets', assets_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Components<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'CPUs', component_cpus_path %></li>
              <li><%= link_to 'NICs', component_nics_path %></li>
              <li><%= link_to 'RAM modules', component_ram_modules_path %></li>
              <li class="divider"></li>
              <li><%= link_to 'All components', components_path %></li>
            </ul>
          </li>
          <li><%= link_to 'Statuses', statuses_path %></li>
          <li><%= link_to 'Reports', reports_path %></li>
          <li><%= link_to 'Revisions', revisions_path %></li>
          <% if current_user.admin? %>
            <li><%= link_to 'Users', users_path %></li>
            <li><%= link_to 'Workers', sidekiq_path %></li>
          <% end %>
        </ul>


        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.name %><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'Show profile', current_user %></li>
              <li><%= link_to 'Edit profile', edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
      </nav>
    <% end %>
  </div>
</div>
