<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NeinDb</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <noscript>
      <div class="alert alert-danger">This page works better with JavaScript. For the responsive features JavaScript is required.</div>
    </noscript>

    <a name="page-top"></a>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/flashes' %>

    <main>
      <%= yield %>
    </main>
    
    <%= render 'layouts/footer' %>

  </body>
</html>
